:root {
  --black: #34435E;
  --gray: #9DA3AE;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", verdana, arial;
  margin: 0;
  padding: 0;
}

main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
}

.item {
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-top: 3px solid;
  border-width: 3px;
  color: var(--black);
  counter-increment: section;
  font-size: 1em;
  line-height: 1.75em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - 40px);
  padding: 40px;
  position: relative;
}

.item:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: var(--black);
  text-align: center;
  line-height: 1.25em;
  color: var(--white);
  font-size: 1em;
}

/* odd number borders */
.item:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}

.item:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
}

/* even number borders */
.item:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}

.item:nth-child(even):before {
  right: 100%;
  margin-right: -20px;
}

/* handle first and last */
.item:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.item:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  padding-bottom: 120px;
}

.item a {
  display: block;
  text-decoration: none;
}

.item img {
  max-width: 100%;
  height: auto;
}

footer {
  background: var(--black);
  color: var(--gray);
  min-height: 100px;
  padding: 40px 20px;
  text-align: center;
  width: 100%;
}
